/* Estilos generales para el sitio */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* --- ENCABEZADO --- */

header {
    background-color: #0b4246;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh 0;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* --- IMAGEN DE ENCABEZADO (OPCIONAL) --- */

#Logo {
    margin-bottom: 1vh;
}

#Logo img {
    width: 9vh;
}

/* --- TITULOS EN ENCABEZADO --- */

#titulo h1 {
    font-size: 2.5vh;
    font-weight: bold;
    color: aquamarine;
    word-wrap: break-all;
    text-align: center;
}

.section-title {
    margin-top: 1vh;
    word-wrap: break-all;
}

.section-titulos {
    margin-top: 1vh;
    word-wrap: break-all;

}

.navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    gap: 2vh;
    flex-wrap: wrap;
}

.navbar a {
    font-size: 2vh;
    color: white;
    padding: 1vh 2vh;
    text-decoration: none;
    transition-duration: 0.3s; /* Animation */
    width: 100%;
}

.navbar a:hover {
    color: aquamarine;
    font-size: 2.5vh;
    font-weight: bold;
}

#navbartitle h1 {
    font-size: 2.5vh;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    letter-spacing: 0.2vh;
    text-transform: uppercase;
    word-wrap: break-word;

}

/* --- Estilos para los bloques de contenido en ventana --- */
#main {
    margin: 2vh 10vw;
}

.content-block,
.content-block-info {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-bottom: 4vh;
}

.content-block img,
.content-block-info img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 0.5vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* --- REDES SOCIALES ICONS --- */

.social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
    justify-content: center;
    margin-top: 2vh;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.social-icons a img {
    width: 3vh;
    height: 3vh;
    transition-duration: 0.3s;
}

.social-icons img:hover {
    width: 3.5vh;
    height: 3.5vh;
}

/* --- LISTA DE IDIOMAS --- */

.language-list {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-bottom: 4vh;
}

.language-item {
    display: flex;
    align-items: center;
    gap: 2vh;
}

.language-list span {
    font-weight: bold;
    color: #333;
    min-width: 80px;
}

.language-bar {
    width: 100%;
    height: 10px;
    background-color: #6d6969;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    max-width: 250px;
}

.language-bar .progress {
    height: 100%;
    background-color: #f69708;
    border-radius: 20px;
    width: var(--progress-width);
    animation: grow 1s ease-in-out forwards;
    transition: width 0.3s ease;
}

@keyframes grow {
    from {
        width: 0;
    }
    to {
        width: var(--progress-width);
    }
}

/* --- CARRETE DE IMAGENES --- */

#CarouselContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 4vh;
}

#Carousel {
    display: flex;
    animation: slideAnimation 10s linear infinite;
    transition: transform 0.8s ease;
}

#Carousel .Slide {
    flex: 0 0 100%;
}

#Carousel .Slide img {
    width: 100%;
    height: auto;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

#CarouselContainer:hover #Carousel {
    animation-play-state: paused;
}

/* --- BLOQUE DE CONTACTO --- */

#ContactForm {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

#ContactForm h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px; 
}

#ContactForm input,
#ContactForm textarea {
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    padding: 0.5vh;
    margin-bottom: 1vh;
}

#ContactForm input[type="submit"] {
    background-color: #0b4246;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    padding: 0.5vh 2vh;
}

#ContactForm input[type="submit"]:hover {
    background-color: #989797;
}

/* --- ESTILOS PARA LAS IMAGENES --- */

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* --- PIE DE PAGINA --- */

#Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2vh 0;
    background-color: #0b4246;
    color: white;
    font-size: 1.5vh;
}

.container-r {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    padding-top: 1vh;
}

.image {
    object-fit: contain;
    padding: 0.2vw;
}

.text {
    display: flex;
    flex-direction: column;
    word-wrap: break-all;
    width: 80%;
}

.about-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vh;
    margin-bottom: 4vh;
}

@media (max-width: 425px) {
    .about-section {
        flex-direction: column;
    }
}